@model btl_nhom32.Models.Kho

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm kho</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Makho" class="control-label"></label>
                    <input asp-for="Makho" class="form-control" value="@ViewBag.newID" />
                    <span asp-validation-for="Makho" class="text-danger"></span>
                    @* </div>
                        <label asp-for="Makho" class="control-label"></label>
                        <input asp-for="Makho" class="form-control" />
                        <span asp-validation-for="Makho" class="text-danger"></span>
                        </div> *@
                    @* <div class="form-group">
                        <label asp-for="Dckho" class="control-label"></label>
                        <input asp-for="Dckho" class="form-control" />
                        <span asp-validation-for="Dckho" class="text-danger"></span>
                        </div> *@
                    <div class="form-group">
                        <label asp-for="Dckho" class="control-label"></label>
                        <textarea rows="2" asp-for="Dckho" class="form-control"
                            placeholder="Nhập đúng địa chỉ kho"></textarea>
                        <span asp-validation-for="Dckho" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>
        </form>
    </div>
</div>

<div>
    <a class="themmoi" asp-action="Index">Về bảng kho</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
