@model btl_nhom32.Models.Kho

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có chắc muốn xoá</h1>


<div>
    <h4>Kho</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dckho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dckho)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Makho" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Về bảng kho</a>
    </form>
</div>
