@model btl_nhom32.Models.Nhaphang

@{
    ViewData["Title"] = "Edit";
}

<h1>Bạn có chắc muốn sửa</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idnh" />
            <div class="form-group">
                <label asp-for="Mahh" class="control-label"></label>
                <select asp-for="Mahh" class="form-control" asp-items="ViewBag.Mahh"></select>
                <span asp-validation-for="Mahh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mancc" class="control-label"></label>
                <select asp-for="Mancc" class="form-control" asp-items="ViewBag.Mancc"></select>
                <span asp-validation-for="Mancc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makho" class="control-label"></label>
                <select asp-for="Makho" class="form-control" asp-items="ViewBag.Makho"></select>
                <span asp-validation-for="Makho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluongnh" class="control-label"></label>
                <input asp-for="Soluongnh" class="form-control" />
                <span asp-validation-for="Soluongnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaynh" class="control-label"></label>
                <input asp-for="ngaynh" class="form-control" />
                <span asp-validation-for="ngaynh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về bảng nhập hàng</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
