@model btl_nhom32.Models.Chucvucv

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm</h1>

<h4>Chức vụ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Idcv" class="control-label"></label>
                <input asp-for="Idcv" class="form-control" />
                <span asp-validation-for="Idcv" class="text-danger"></span>
                </div> *@
            <div class="form-group">
                <label asp-for="Idcv" class="control-label"></label>
                <input asp-for="Idcv" class="form-control" value="@ViewBag.newID" />
                <span asp-validation-for="Idcv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tencv" class="control-label"></label>
                <input asp-for="Tencv" class="form-control" />
                <span asp-validation-for="Tencv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Motacn" class="control-label"></label>
                <textarea rows="5" asp-for="Motacn" class="form-control"></textarea>
                <span asp-validation-for="Motacn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="veindex" asp-action="Index">Quay về bảng chức vụ</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
